<nav class="navbar navbar-expand-lg bg-dark text-light" data-bs-theme="dark">
  <div class="container">
    <%= link_to "KariPics", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav me-auto">
        <li>
          <%= link_to "Articles", karticles_path, class:"nav-link" %>
        </li>
        </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <% if kuser_signed_in? %>
              <% if current_kuser.name %>
                Hola <%= current_kuser.name %>
              <% else %>
                Hola <%= current_kuser.email %>
              <% end %>
            <% else %>
                Inicia sesión o registrate
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <% if kuser_signed_in? %>
                <li><%= button_to "Cerrar Sesión", destroy_kuser_session_path, class:"dropdown-item", method: :delete %></li>
            <% else %>
                <li><%= link_to "Iniciar Sesión", new_kuser_session_path, class:"dropdown-item" %></li>
                <li><%= link_to "Registro", new_kuser_registration_path, class:"dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>